:root{
    --dark-gray: #1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;

    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --white: #FFFFFF;

    --primary: #C92071;
    --secondary: #B5B6F2;
    --tertiary: #991956;
    
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;

    /* image */
    --primary-gradient: linear-gradient(to bottom, #C92071, #EDABCA);

    --secondary-gradient: linear-gradient(to bottom, #B5B6F2, #EFEFFF);
    
}

.button1{
    background-color: var(--primary);
    color: var(--light-gray-3);
    border: none;
    border-radius: 8px;
    padding: 9px 35px;
    font-weight: bold;
}
.button2{
    background-color: var(--light-gray-3);
    color: var(--primary);
    border: none;
    border-radius: 8px;
    padding: 9px 35px;
    font-weight: bold;
}

header {
    margin-top: 40px;
    margin-bottom: 30px;
}

.header1{
    background-color: var(--white);

    input[type=text] {
        width: 559px;
        height: 60px;
        padding: 20px;
        border: none;
        border-radius: 8px;
        background-color: var(--light-gray-3);
    }
    input[type="text"]:focus {
            outline: none;
        }
    
    a{
        color: var(--dark-gray);
    }
}

.a-focus{
    color: var(--primary);
    font-weight: bold;
    margin-left: 105px;
}

.a1{
    text-decoration: none;
    color: var(--dark-gray-2);
    margin-left: 35px;
}
