:root{
    --dark-gray: #1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;

    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --white: #FFFFFF;

    --primary: #C92071;
    --secondary: #B5B6F2;
    --tertiary: #991956;
    
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;

    /* image */
    --primary-gradient: linear-gradient(to bottom, #C92071, #EDABCA);
    --secondary-gradient: linear-gradient(to bottom, #B5B6F2, #EFEFFF);
    
}

main {
    
}

.carrosel1 {
    background-color: var(--light-gray-3);
    padding-bottom: 140px;

    .carroselTexto{
        width: 480px;
        margin-top: 120px;
        margin-left: 80px;

        .p1{
            font-weight: bold;
            color: var(--warning);
            font-size: 20px;
        }

        h1{
            font-weight: bold;
            font-size: 65px;
        } 
        
        .p2{
            margin-top: 20px;
            color: var(--dark-gray-2);
            font-size:20px;
        }
    }

    .White-Sneakers1 {
        margin-top: 120px;
        margin-left: 100px;
    }

    .Ornament11 {
        margin-top: 70px;
        padding-left: 40px;
    }
}



.cards {
    margin: 20px 70px;

    h1 {
    color: var(--dark-gray-2);
    font-size: 25px;
    margin: 20px 0px;
    font-weight: bold;
    }
}
.card1 {
    height: 245px;
    width: 395px;
    border-radius: 8px;
    background-position: 157px;
    background-repeat: no-repeat;
    background-color: #D8E3F2;
    background-image: url(images/star-wars-storm-trooper-supreme-shirts-supreme-t-shirt-snoopy-clothing-apparel-t-shirt-text-transparent-png-616696\ 1.png);

    

    div {

        width: 225px;
        padding-left: 30px;
        padding-top: 35px;

        p {
            display: flex;
            width: 100px;
            margin: 0px;
            border-radius: 29px;
            padding: 6px;
            color: var(--dark-gray-2);
            font-size: 14px;
            font-weight: bold;
            background-color: #E7FF86;
            justify-content: center;
        }

        h3 {
            margin: 10px 0px;
            font-weight: bold;
            font-size: 32px;
        }

        button {
            font-size: 18px;
            
        }
    }
}