/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*Fontes*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

    font-family: "Inter", sans-serif;
}
:root {
    font-size: 62.5%;

    /*Cores*/
    --dark-gray:#1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --primary: #C92071;
    --secondary: #B5B6F2;
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;
    --white:  #FFFFFF;
    --tertiary: #991956;
    --primary-gradient: linear-gradient(to bottom, #C92071, #EDABCA);
    --secondary-gradient: linear-gradient(to bottom, #B5B6F2, #EFEFFF);
    /*Cores*/
}
 /* Footer */
 footer{
    background-color: var(--dark-gray);
    color: var(--white);
    width: 100%;
    height: 454px;
}
.footer-info{
    display: flex;
    align-items: center;
}
.footer-brand{
  padding: 72px 205px 95px 100px;

}
.footer-brand h1 {
    align-items: center;
    margin: 0;
    font-size: 36px;
}
.footer-brand .logo{
    align-self: center;
    width: 33px;
    height: 33px;
}
.footer-brand p {
    width: 307px;
    
    margin: 40px 0;
    
    line-height: 26px;
    font-size: 16px;
    
}

.footer-logo{
   display: flex;
   
   gap: 8px;
}
.social-links ul{
    display:flex;
    padding: 0 0;
    margin: 0;
    gap: 35px;
    text-decoration: none;

    
}
.list-group-informations  h2{
    line-height: auto;
    font-size: 18px;
    margin: auto auto 28px auto;

}
.list-group-departments h2{
    line-height: auto;
    font-size: 18px;
    margin: auto auto 28px auto;
}


.list-group-informations {
    margin: 72px 102px 34px 0;
    padding: 0;
    font-size: 16px;
    line-height: 38px;
    

}
.list-group-informations  a{
    text-decoration: none;
    color: var(--white);
}
.list-group-departments a {
    text-decoration: none;
    color: var(--white);

}

.list-group-departments{
    margin: 72px 168px 72px 0;
    padding: 0;
    font-size: 16px;
    line-height: 38px;
}
.list-group-contact{
    width: 233px;
    margin: 72px 94px 144px 0;
    padding: 0;
}

.list-group-contact h2 {
    font-size: 18px;
    margin: auto auto 28px auto;
}
.list-group-contact li{
    font-size: 16px;
}
.list-group-contact .adress{
    width: 231px;
    margin: auto auto 14px auto;
    font-size: 16px;
    line-height: 26px;
}

.line{
    
    width: 1240px;
    margin: 0 100px;
    border: 1px solid var(--white);
}
footer h3 {
    font-size: 13px;
    text-align: center;
    margin: 24px 618px 0;
}
 /* Footer */