@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
:root {
    font-size: 62.5%;

    /*Cores*/
    --dark-gray:#1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --primary: #C92071;
    --secondary: #B5B6F2;
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;
    --white:  #FFFFFF;
    --tertiary: #991956;
    --primary-gradient: linear-gradient(to bottom, #C92071, #EDABCA);
    --secondary-gradient: linear-gradient(to bottom, #B5B6F2, #EFEFFF);
    /*Cores*/
}
main{
    background-color:  #E5E5E5;
}
#products{
    display: flex;
    padding: 56px auto 140px;
    gap: 28px;
}
.products-grid{
    display: grid;
    grid-template-columns: 292px 292px 292px;

    gap: 14px;
    margin-top: 40px;

}
.desconto{
    position: relative;
    top: 20px;
    left: 20px;

    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.75px;
    font-weight: bold;
}



.card-container{
    width: 292px;
    height: 439px;
    
    /* border: 1px solid black; */
}

.image-container{
    background-color: var(--white);
    width: 292px;
    height: 321px;
}

.image-container img {
    margin: -40px 20px 42px -26px;
    /*Arrumar posição da img*/
    
    
}
.overlay {
    width: 96px;
    height: 32px;

    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;

    background: #E7FF86;
    color:var(--dark-gray-2);

    padding: 5px 15px;

    border-radius: 29px;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
}
.title{
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    color: var(--light-gray);
    margin: 18px 0 0 0;
    letter-spacing: 0.75px;
}

.descricao {
    font-size: 24px;
    color: var(--dark-gray-2);
    line-height: 24px;
    letter-spacing: 0.75px;
   

}
.priceDiscount{
    font-size: 24px;
    color: var(--dark-gray);
    line-height: 38px;
    font-weight: bold;
    letter-spacing: 0.75px;
    
    
}
.price{
    font-size: 24px;
    color: var(--light-gray);
    line-height: 38px;
    letter-spacing: 0.75px;
    margin-right: 8px;

}